.invest-field .form-control-amount { padding: 1rem 4rem 1.25rem 1.5rem; height: 3.75rem; font-size: 1.25rem; color: #8094ae; border-color: #dbdfea; }

.invest-field .form-control-amount ~ .form-range-slider { position: absolute; left: 0; bottom: 0; right: 0; }

.invest-field .form-control-amount ~ .form-range-slider.noUi-horizontal { height: 4px; border-radius: 0 0 4px 4px; }

.invest-field .form-control-amount ~ .form-range-slider.noUi-target { background: rgba(219, 223, 234, 0.6); }

.invest-field .form-control-amount ~ .form-range-slider .noUi-connects { border-radius: 0 0 4px 4px; }

.invest-field:not(:last-child) { margin-bottom: 1.75rem; }

.invest-amount-group { display: flex; flex-wrap: wrap; }

.invest-amount-item { position: relative; flex-grow: 1; width: 33.33%; }

.invest-amount-label { cursor: pointer; border-radius: 4px; border: 1px solid #dbdfea; background: #fff; font-size: 14px; text-align: center; line-height: 1.25rem; padding: 1rem; width: 100%; margin-bottom: 0; transition: all .3s; }

.invest-amount-control { position: absolute; opacity: 0; height: 1px; width: 1px; }

.invest-amount-control:checked ~ .invest-amount-label { border-color: #6576ff; background-color: #6576ff; color: #fff; }
/*
**********************
*/
.nk-iv-wg4 .lead-text { font-weight: 400; }

.nk-iv-wg4-title { margin-bottom: 0.75rem; }

.nk-iv-wg4-sub { padding: 1.25rem 1.5rem; }

.nk-iv-wg4-sub:not(:last-child) { border-bottom: 1px solid #e5e9f2; }

.card .nk-iv-wg4-sub:last-child { border-radius: 0 0 3px 3px; }

.nk-iv-wg4-sub .btn { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.nk-iv-wg4-overview { display: flex; flex-wrap: wrap; }

.nk-iv-wg4-overview li { width: 50%; }

.nk-iv-wg4-list li { display: flex; justify-content: space-between; }

.nk-iv-wg4-list li:not(:last-child) { margin-bottom: 0.25rem; }

@media (max-width: 420px) { .nk-iv-wg4-overview li { width: 100%; } }

.nk-iv-wg5 { display: inline-flex; flex-direction: column; margin-left: auto; margin-right: auto; }

.nk-iv-wg5-head { margin-bottom: 1rem; }

.nk-iv-wg5-title { margin-bottom: .25rem; }

.nk-iv-wg5-subtitle { color: #8094ae; }

.nk-iv-wg5-ck { margin-top: auto; position: relative; display: inline-block; }

.nk-iv-wg5-ck-result { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

.nk-iv-wg5-ck-result .text-lead { font-size: 40px; font-weight: 300; color: #364a63; line-height: 1.3; }

.nk-iv-wg5-ck-result .text-lead.sm { font-size: 30px; }

.nk-iv-wg5-ck-result .text-sub { font-size: 12px; font-weight: 500; color: #8094ae; }

.nk-iv-wg5-ck-minmax { display: flex; justify-content: space-between; color: #8094ae; font-size: 12px; }

.nk-iv-wg3-group { display: flex; align-items: flex-end; flex-wrap: wrap; }

.nk-iv-wg3-ck { position: relative; height: 45px; margin-bottom: .5rem; }

.nk-iv-wg3-title { font-size: 1.125rem; color: #8094ae; margin-bottom: .5rem; font-weight: 400; }

.nk-iv-wg3-title .icon { font-size: .875rem; }

.nk-iv-wg3-sub { font-size: .875rem; color: #8094ae; margin-top: .125rem; }

.nk-iv-wg3-sub-group { display: flex; flex-shrink: 0; }

.nk-iv-wg3-sub .icon { font-size: .75rem; }

.nk-iv-wg3-plus { position: absolute; }

.nk-iv-wg3-plus .icon { font-size: 1rem; line-height: 1.5rem; }

.nk-iv-wg3-plus ~ * { padding-left: 24px; }

.nk-iv-wg3-amount .number { font-size: 1.25rem; font-weight: 700; color: #364a63; line-height: 1.5rem; white-space: nowrap; }

.nk-iv-wg3-amount .number small { font-weight: 400; }

.nk-iv-wg3-amount .number-sm { font-size: 1.15rem; color: #364a63; line-height: 1.5rem; white-space: nowrap; }

.nk-iv-wg3-amount .number .number-up, .nk-iv-wg3-amount .number .number-down { font-size: 50%; }

.nk-iv-wg3-amount .number .number-up .icon, .nk-iv-wg3-amount .number .number-down .icon { color: #526484; }

.nk-iv-wg3-amount .number .number-up:before, .nk-iv-wg3-amount .number .number-down:before { font-family: "Nioicon"; }

.nk-iv-wg3-amount .number .number-up { color: #1ee0ac; }

.nk-iv-wg3-amount .number .number-up:before { content: ""; }

.nk-iv-wg3-amount .number .number-down { color: #e85347; }

.nk-iv-wg3-amount .number .number-down:before { content: ""; }

.nk-iv-wg3-nav { display: flex; align-items: center; flex-wrap: wrap; margin: -.5rem -1.25rem; }

.nk-iv-wg3-nav li a { padding: .5rem 1.25rem; display: flex; align-items: center; }

.nk-iv-wg3-nav li a .icon { font-size: 1.125rem; width: 1.75rem; line-height: 1.25rem; }

.nk-iv-wg3-nav li a span { font-size: 0.875rem; line-height: 1.25rem; }

.nk-iv-wg3-list li { display: flex; justify-content: space-between; align-items: center; padding: .5rem 1.25rem; border-bottom: 1px solid #e5e9f2; }

.nk-iv-wg3-list li .lead-text { font-size: 13px; font-weight: 400; }

.nk-iv-wg3-list:last-child { padding: 0 0 1rem; }

.nk-iv-wg3-list:last-child li:last-child { border-bottom: none; }

@media (max-width: 991.98px) { .nk-iv-wg3-sub:first-child { min-width: 160px; } }

@media (max-width: 420px) { .nk-iv-wg3-sub { width: 100%; }
  .nk-iv-wg3-sub-group { flex-wrap: wrap; }
  .nk-iv-wg3-plus { margin-bottom: .75rem; display: inline-block; }
  .nk-iv-wg3-plus .icon { font-size: 1.5rem; line-height: 2.25rem; }
  .nk-iv-wg3-plus ~ * { padding-left: 0; }
  .nk-iv-wg3-plus + * { padding-top: 40px; } }

@media (min-width: 576px) { .nk-iv-wg3-list li { padding: .5rem 1.75rem; } }

@media (min-width: 680px) and (max-width: 991px) { .nk-iv-wg3-list { display: flex; flex-wrap: wrap; }
  .nk-iv-wg3-list li { width: 50%; }
  .nk-iv-wg3-list li:last-child { border-bottom: 1px solid #e5e9f2; }
  .nk-iv-wg3-list:last-child li:nth-last-child(2) { border-bottom: none; } }

@media (min-width: 992px) { .nk-iv-wg3-list { width: 33.333333%; float: left; }
  .nk-iv-wg3-list li:last-child { border-bottom: none; } }

@media (min-width: 1200px) { .nk-iv-wg3-amount .number { font-size: 1.75rem; line-height: 2.25rem; font-weight: 500; }
  .nk-iv-wg3-amount .number-sm { font-size: 1.25rem; line-height: 2.25rem; }
  .nk-iv-wg3-plus .icon { font-size: 1.25rem; line-height: 2.25rem; }
  .nk-iv-wg3-plus ~ * { padding-left: 32px; } }
