/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.input { width: 100%; display: block; padding: 10px 0; margin-top: -35px; }
.input label,.main .form form.gty .input .ty { display: inline-block;vertical-align: top; }
.input label { padding: 10px 0 0 0; color: #666; }
.input .ty { float: right; }
.input input.ty { width: 120px; padding: 10px 10px; border: 0; color: #777; border: 1px solid #ccc; font-weight: bold; font-size: 1.2em; }
.input input[type="range"]{ display: block; padding: 0; margin: 0 0 15px; -webkit-appearance: none; appearance: none; width: 100%; height: 25px; background: transparent; outline: none; }
table.ddesc { margin-top: 40px; border-collapse: collapse; width: 100%; }
table.ddesc tr th { color: #222; width: 50%; text-align: left; }
table.ddesc tr th:nth-child(2) { text-align: right; }
.termDesc { font-size: 1.3em; color: #3a7904; font-weight: bolder; }
.termDesc span { font-size: 1.7em; }

table.dddesc { border-collapse: collapse; width: 100%; }
table.dddesc tr th { color: #555; width: 50%; text-align: left; border-bottom: 1px solid #bbb; padding: 10px 0; }
table.dddesc tr th:nth-child(2) { text-align: right; }
table.dddesc tr td { color: #555; width: 50%; text-align: left; border-bottom: 1px solid #bbb; padding: 10px 0; }
table.dddesc tr td:nth-child(2) { text-align: right; }
table.dddesc tr:last-child td {  }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: black;
  box-shadow: 0px 2px 10px -2px black(1);
  position: relative;
  z-index: 2;
  box-shadow: 1.1px 1.1px 6.8px rgba(0, 0, 0, 0), 0px 0px 1.1px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  background: url(../img/left-and-right.png) #6B59D3;
  background-size: 53%;
  background-position: center;
  background-repeat: no-repeat;
}

.buig {
	font-size: 3em;
	text-align: center;
}
.calculator-page_info{
	height:79px;
	width:79px;
	margin:0 auto 30px;
	background-image:url(../img/icon-now.svg);
	background-repeat:no-repeat;
	background-size:contain
}
.calculator-page_modal-title{
	font-size:27px;
	font-weight:600;
	padding-left:10px
}
ul.calculator{list-style:none;padding:0 22px;color:var(--text-layout-text-color);font-size:14px;font-weight:500;line-height:18px}
ul.calculator li{margin-bottom:20px}
ul.calculator li:before{content:"-";position:absolute;left:25px}
ul.calculator div{font-size:11px;line-height:15px}